
header.container-fluid 
    .container 
        .d-flex.items-center.justify-between
            img(src = "https://cdn.daca.vn/media/logo/logo.svg" class = "col-2")
            ul(class = "list-style-type-none m-0 d-flex items-center gap-x-5")
                li
                    a(href = "/" class = "d-block text-decoration-none") Trang chủ
                li
                    a(href = "/products" class = "d-block text-decoration-none") Sản phẩm

