.root{
    --color-primary: #00C2C5;
}

.d-flex{
    display: flex;
}
.flex-row{
    flex-direction: row;
}
.flex-row-reverse{
    flex-direction: row-reverse;
}
.flex-column{
    flex-direction: column;
}
.flex-column-reverse{
    flex-direction: column-reverse;
}
.flex-wrap{
    flex-wrap: wrap;
}
.flex-nowrap{
    flex-wrap: nowrap;
}
.justify-center{
    justify-content: center;
}
.justufy-start{
    justify-content: flex-start;
}
.justify-end{
    justify-content: flex-end;
}
.justify-between{
    justify-content: space-between;
}
.justify-around{
    justify-content: space-around;
}
.justify-evently{
    justify-content: space-evenly;
}
.items-start{
    align-items: start;
}
.items-center{
    align-items: center;
}
.items-end{
    align-items: end;
}
/* Chỉ áp dụng được khi không có height */
.items-stretch{
    align-items: stretch;
}

.order-0{
    order: 0;
}
.order-1{
    order: 1;
}
.order-2{
    order: 2;
}
.gap-x-1{
    column-gap: 4px;
}
.gap-x-3{
    column-gap: 12px;
}
.gap-x-4{
    column-gap: 16px;
}
.gap-y-3{
    row-gap: 12px;
}
.gap-y-4{
    row-gap: 16px;
}
.margin-right-12{
    margin-right: 12px;
}
.rows{
    display: flex;
    flex-wrap: wrap;
}
.col-x{
    width: calc(100% / 12) * x;
}
.col-1{
    width: calc(100% / 12);
    box-sizing: border-box;
    padding: 8px;
}
.col-2{
    width: calc((100% / 12) * 2);
    box-sizing: border-box;
    padding: 8px;
}
.col-3{
    width: calc((100% / 12) * 3 - 12px);
    box-sizing: border-box;
    padding: 8px;
}
.col-4{
    width: calc((100% / 12)*4);
    box-sizing: border-box;
    padding: 8px;
}
.col-6{
    width: calc(100% / 2);
    box-sizing: border-box;
    padding: 8px;
}
.col-12{
    width: 100%;
    box-sizing: border-box;
    padding: 8px;
}
