
.rounded{
    border-radius: 6px;
}
.rounded-4{
    border-radius: 24px;
}
.border-none{
    border: none;
}
.bg-blue{
    background-color: rgb(51, 51, 239);
}
.bg-red{
    background-color: red;
}
.bg-gray-200{
    background-color: #F6F5F8;
}
.bg-green-200{
    background-color: rgb(5, 193, 5);
}
.bg-red-600{
    background-color: red;
}
.bg-light-blue{
    background-color: lightblue;
}
.bg-yellow{
    background-color: yellow;
}
.object-fit-cover{
    object-fit: cover;
}
.flex-1{
    flex: 1;
}
.py-1{
    padding-top: 4px;
    padding-bottom: 4px;
}
.py-2{
    padding-top: 8px;
    padding-bottom: 8px;
}
.py-3{
    padding-top: 12px;
    padding-bottom: 12px;
}
.bg-black{
    background-color: black;
}
.m-0{
    margin: 0
}
.font-14{
    font-size: 14px;
}
.font-bold{
    font-weight: bold;
}
.font-500{
    font-weight: 500;
}
.text-red{
    color: red;
}
.text-align-center{
    text-align: center;
}
.gap-x-3{
    column-gap: 12px;
}
.gap-x-5{
    column-gap: 20px;
}
.list-style-type-none{
    list-style-type: none;
}
.outline-none{
    outline: none;
}
.m-top-1{
    margin-top: 4px;
}
.m-top-2{
    margin-top: 8px;
}

/* CSS custom */
.sider{
    width: 15vw;
    height: calc(100vh - 50px);
}
.sider li{
    transition: all ease 800ms;
}
.sider li::after{
    transition: all ease 800ms;
}
.sider li::after{
    content: "";
    display: block;
    background-color: white;
    border-radius: 10px;
    height: 1px;
    transform: scaleX(0);
}
.sider li:hover a{
    background-color: #5D585C;
}
.sider li:hover::after{
    transform: scaleX(100%);
}
th{
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    font-size: 16px;
}
td{
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    font-size: 16px;
}
.productTool{
    border: 1px solid #ddd
}
.active{
    background-color: rgb(26, 232, 26);
    color: white;
}
.custom-border{
    border: solid 1px black;
}
.boxItem{
    border: 1px solid #ddd;
    transition: all ease 600ms;
}
.boxItem:hover{
    margin-bottom: 10px;
    margin-top: -10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
.boxItem img{
    width: 100%;
}


/* ADMIN PRODUCT CSS */
.form__timKiem{
    border: 1px solid black;
}

/*  */
.alert-hidden{
    display: none !important;
}