extends ../../layouts/default.pug 
include ../../mixins/render-category.pug

block main 
    h1 #{pageTitle}
    
    div(class = "dsSanPham container-fluid")
        h3 Danh sách
        div(class = "d-flex justify-between")
            div(class = "d-flex")
                form(
                action = `/admin/products/change-multi?_method=PATCH`
                method = "POST"
                id = "form-change-multi")
                    select(name = "type")
                        option(disabled selected) --Chọn Thao Tác--
                        option(value = "active") Hoạt Động
                        option(value = "inactive") Dừng Hoạt Động
                        option(value = "delete") Xoá Tất Cả
                        option(value = "change-position") Thay đổi vị trí
                    input(
                        class = "d-none"
                        name = "ids"
                        value =""
                    )
                    button(type = "submit" class = "border-none text-white bg-blue rounded") Áp Dụng
        
            a(class = "rounded bg-blue text-white font-bold border-none cursor-pointer px-2 py-2 text-decoration-none" href = "product-category/create") Thêm mới
            
        table(class = "container-fluid" checkbox-multi)
                thead
                    tr.text-align-center
                        th 
                            input(type = "checkbox" id = "changeStatusAll")
                        th STT 
                        th Hình ảnh
                        th Tiêu đề
                        th Vị trí
                        th Trạng thái
                        th Hành động
                tbody 
                    +render-category(category,1)
    form(
        action = "",
        method = "POST",
        class = "delete-product-category"
    )   