@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inria+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Pacifico&family=Playwrite+DE+SAS:wght@100..400&family=Quintessential&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Varela+Round&display=swap');
*{
    box-sizing: border-box;
      font-family: "Nunito", sans-serif;

}
.nav-item {
    position: relative;
}
ul{
    list-style: none;
    padding: 0;
}
header ul li{
    padding: 10px;
    border-bottom: 1px solid black;
}

.nav-menu {
    display: none;
    position: absolute;
    background: white;
    min-width: 150px;
}

.nav-item:hover > .nav-menu {
    display: block;
}

/* Menu cấp 1 xổ xuống */
.nav-item > .nav-menu {
    top: 100%;
    left: 0;
}

/* Menu cấp 2, 3... hiện sang trái */
.nav-menu .nav-menu {
    top: 0;
    left: -100%;
}

.header-client{
    background-color: transparent;
    border-bottom: 1px solid #ddd;
    padding: 4px 0px;
    position: fixed;
    top: 0;
    background: transparent;
    z-index: 1;
}
.background{
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.background img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.logo-app{
    width: 20%;
    height: 50px;
    overflow: hidden;
}
.logo-app img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.header-spacer{
    height: 65px;
}

.profile{
    background-color: rgb(255, 255, 254);
    border-radius: 10px;
    padding: 8px;
}
br{
    width: 100%;
    height: 4px;
}

.vien-img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
}
.vien-img img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}