
extends ../../layouts/default.pug
include ../../mixins/alert.pug
include ../../mixins/select-tree

block main
    +Alert(messages,5000)

    div
        form(
            class = "d-flex flex-column items-start px-3"
            form-create-product
            method = "POST"
            action = "/admin/setting/generals" 
            enctype ="multipart/form-data"
            required
        )
            div(class = "d-flex flex-column col-12") 
                p(class = "m-0 font-bold") Tên Website
                input(type = "text" name = "websiteName")
            div(class = "d-flex flex-column col-12") 
                p(class = "m-0 font-bold") Logo
                input(type = "file" name = "logo" accept = "image/*" change-image)
            div(class = "d-flex col-12")
                div(class = "d-flex flex-column col-6")
                    p(class = "m-0 font-bold") Ảnh Cũ
                    img(class = "col-8")
                div(class = "d-flex flex-column col-6")
                    p(class = "m-0 font-bold") Ảnh Mới
                    img(class = "col-8" id = "edit-new-image")
            div(class = "d-flex flex-column col-12") 
                p(class = "m-0 font-bold") Số điện thoại
                input(type = "text" name = 'phone' required)
            div(class = "d-flex flex-column col-12")
                p(class = "m-0 font-bold") Email
                input(type = "email" name = 'email')
            div(class = "d-flex flex-column col-12")
                p(class = "m-0 font-bold") Địa chỉ
                input(type = "text" name = 'address')
            div(class = "d-flex flex-column col-12")
                p(class = "m-0 font-bold") Copyright
                input(type = "text" name = 'copyright')

            button(type = "submit" class = "bg-blue text-white border-none rounded") Cập nhật






