
.inner-menu.bg-dark.m-0
    ul(class = "list-unstyled")
        li
            a(href = "/admin/dashboard" class = "text-white font-bold text-decoration-none px-3 py-2 d-block") Tổng quan
        li
            a(href = "/admin/products" class = "text-white font-bold text-decoration-none px-3 py-2 d-block") Sản Phẩm