
.inner-menu.bg-dark.m-0
    ul(class = "list-unstyled")
        li
            a(href = "/admin/dashboard" class = "text-white font-bold text-decoration-none px-3 py-2 d-block") Tổng quan
        if(role.permissions.includes("permissions-product-view"))
            li
                a(href = "/admin/products" class = "text-white font-bold text-decoration-none px-3 py-2 d-block") Sản Phẩm
        if(role.permissions.includes("permissions-category-view"))
            li
                a(href = "/admin/product-category"  class = "text-white font-bold text-decoration-none px-3 py-2 d-block") Danh mục sản phẩm
        if(role.permissions.includes("permissions-blog-view"))
            li
                a(href = "/admin/blogs"  class = "text-white font-bold text-decoration-none px-3 py-2 d-block") Bài đăng
        if(role.permissions.includes("permissions-role-view"))
            li 
                a(href = "/admin/roles"  class = "text-white font-bold text-decoration-none px-3 py-2 d-block") Nhóm Quyền
        if(role.permissions.includes("permissions-permission-view"))
            li 
                a(href = "/admin/roles/permissions"  class = "text-white font-bold text-decoration-none px-3 py-2 d-block") Phân Quyền
        if(role.permissions.includes("permissions-account-view"))
            li
                a(href = "/admin/accounts" class = "text-white font-bold text-decoration-none px-3 py-2 d-block") Danh sách tài khoản
        li
            a(href = "/admin/setting/generals" class = "text-white font-bold text-decoration-none px-3 py-2 d-block") Cài đặt chung
        