
.inner-menu.bg-dark.m-0
    ul(class = "list-unstyled")
        li
            a(href = "/admin/dashboard" class = "text-white font-bold text-decoration-none px-3 py-2 d-block") Tổng quan
        li
            a(href = "/admin/products" class = "text-white font-bold text-decoration-none px-3 py-2 d-block") Sản Phẩm
        li
            a(href = "/admin/product-category"  class = "text-white font-bold text-decoration-none px-3 py-2 d-block") Danh mục sản phẩm
        li 
            a(href = "/admin/roles"  class = "text-white font-bold text-decoration-none px-3 py-2 d-block") Nhóm Quyền
        li 
            a(href = "/admin/roles/permissions"  class = "text-white font-bold text-decoration-none px-3 py-2 d-block") Phân Quyền
        li
            a(href = "/admin/accounts" class = "text-white font-bold text-decoration-none px-3 py-2 d-block") Danh sách tài khoản
        